<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-background-background-color has-background">
    <!-- wp:group {"layout":{"type":"constrained","contentSize":"840px"}} -->
    <div class="wp-block-group">
        <!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} -->
        <h1 class="wp-block-heading has-text-align-center">404</h1>
        <!-- /wp:heading -->

        <!-- wp:heading {"textAlign":"center","level":2,"style":{"typography":{"fontWeight":"600"}}} -->
        <h2 class="wp-block-heading has-text-align-center">Page Not Found</h2>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"var:preset|font-size|large"}}} -->
        <p class="has-text-align-center">Sorry, the page you are looking for doesn't exist or has been moved.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
        <div class="wp-block-buttons">
            <!-- wp:button {"backgroundColor":"secondary","textColor":"base"} -->
            <div class="wp-block-button"><a class="wp-block-button__link has-base-color has-secondary-background-color has-text-color has-background wp-element-button" href="/">Back to Home</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->

        <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"className":"is-style-outline"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--> 