<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
            <!-- wp:group {"metadata":{"categories":["posts"],"patternName":"core/query-offset-posts","name":"Offset"},"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"inherit":false}} -->
            <div class="wp-block-group"
                style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:columns -->
                <div class="wp-block-columns"><!-- wp:column {"width":"50%"} -->
                    <div class="wp-block-column" style="flex-basis:50%">
                        <!-- wp:query {"queryId":14,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
                        <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
                            <!-- wp:post-featured-image /-->

                            <!-- wp:post-title /-->

                            <!-- wp:post-date /-->

                            <!-- wp:post-excerpt /-->

                            <!-- wp:spacer {"height":"50px"} -->
                            <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                            <!-- /wp:spacer -->
                            <!-- /wp:post-template -->
                        </div>
                        <!-- /wp:query -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column {"width":"50%"} -->
                    <div class="wp-block-column" style="flex-basis:50%">
                        <!-- wp:query {"queryId":15,"query":{"perPage":10,"pages":0,"offset":2,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
                        <div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
                            <!-- wp:post-featured-image /-->

                            <!-- wp:post-title /-->

                            <!-- wp:post-date /-->

                            <!-- wp:post-excerpt /-->

                            <!-- wp:spacer {"height":"50px"} -->
                            <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
                            <!-- /wp:spacer -->
                            <!-- /wp:post-template -->
                        </div>
                        <!-- /wp:query -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->