<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image /-->

    <!-- wp:post-title /-->

    <!-- wp:post-terms {"term":"category"} /-->

    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:post-date /-->

        <!-- wp:post-author /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->