<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:post-featured-image {"aspectRatio":"auto","width":"","height":"","dimRatio":20,"align":"center"} /-->

    <!-- wp:post-title {"level":1} /-->

    <!-- wp:post-terms {"term":"category"} /-->

    <!-- wp:group {"layout":{"type":"grid"}} -->
    <div class="wp-block-group"><!-- wp:post-date /-->

        <!-- wp:post-author /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->